@using UCNAirlinesWebpage.Models
@model SeatPassenger

@{
	ViewData["Title"] = "Seats";
}
<style>
	.form-seat-container {
	display: flex;
	gap: 40px;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 20px;
	}

	.form-fields {
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: 300px;
	}

	.seat-map {
	display: flex;
	flex-direction: column;
	gap: 10px;
	}

	.seat.row {
	display: flex;
	gap: 10px;
	}

	.seat-gap {
	display: inline-block;
	width: 30px;
	}

	.seat {
	width: 40px;
	height: 40px;
	background-color: lightgray;
	border: none;
	border-radius: 3px;
	font-weight: bold;
	cursor: pointer;
	}

	.seat.selected {
	background-color: green;
	color: white;
	}

	.submit-container {
	text-align: center
	}

</style>
<div>@Model.Flight.FlightId</div>
@* <div>@Model.Flight.Airplane.AirplaneId</div>
 *@<div>@Model.passengerCount</div>

<div class="text-center">
	<h1 class="display-4">Select a seat</h1>
</div>

<br />
<br />
<form method="post" action="/Booking/CreateBooking" onsubmit="return AddPassengertoCookie();">
	@for (int i = 0; i < Model.passengerCount; i++)
	{
		<div class="form-seat-container">
			<div>
				<div class="form-group">
					<label for="FirstName_@i">First Name:</label><br />
					<input type="text" id="FirstName_@i" name="Passengers[@i].FirstName" class="form-control" />
				</div>

				<div class="form-group">
					<label for="LastName_@i">Last Name:</label><br />
					<input type="text" id="LastName_@i" name="Passengers[@i].LastName" class="form-control" />
				</div>
				<div class="form-group">
					<label for="Passport_@i">Passport:</label><br />
					<input type="text" id="Passport_@i" name="Passengers[@i].Passport" class="form-control" />
				</div>
				<div class="form-group">
					<label>Birthdate:</label>
					<input type="date" id="BirthDate_@i" max="@DateTime.Today.ToString("yyyy-MM-dd")" accept="" />
				</div>
				<br />
			</div>

			<label>Seat:</label>
			<select id="SeatId_@i" name="Seat" onchange="" required>
				<option value="">-- Select Seat --</option>
				@foreach (Seat seat in Model.Seats)
				{
@* 					if (seat.Passenger == null)
 *@					@* { *@
						<option value="@seat.SeatId">@seat.SeatName</option>
					@* } *@
				}

			</select>
            </div> 
			<div class="seat-map">
				@for (int row = 1; row <= @Model.Flight.Airplane.SeatRows; row++)
				{
					<div class="seat-row">
						@for (int column = 1; column <= Model.Flight.Airplane.SeatColumns; column++)
						{

							if (column == @Model.Flight.Airplane.SeatColumns / 2 + 1)
							{
								<span class="seat-gap"></span>

							}
							char c = char.ToUpper((char)(column + 96));
							var seatID = $"{row}{c}";
							<button type="button" class="seat" data-seat="@seatID">@seatID</button>
						}
					
					</div>
				}
			</div>
		


	}
	<div class="submit-container">
		<button type="submit">Tilføj passenger</button>
	</div>
</form>

<script>
	function AddPassengertoCookie() {
	for (let i = 0; i < @Model.passengerCount; i++) {

		const firstName = document.getElementById(`FirstName_${i}`).value;
		const lastName = document.getElementById(`LastName_${i}`).value;
		const passportNr = document.getElementById(`Passport_${i}`).value;
		const seatId = document.getElementById(`SeatId_${i}`).value;
		const birthDate = document.getElementById(`BirthDate_${i}`).value;
			var a = new Date();
		a = new Date(a.getTime() +1000*60);
		document.cookie = i + "FirstName=" + encodeURIComponent(firstName) + "; expires="+ a.toGMTString() + "; path=/";
		document.cookie = i + "LastName=" + encodeURIComponent(lastName) + "; expires="+ a.toGMTString() + "; path=/";
		document.cookie = i + "PassportNr=" + encodeURIComponent(passportNr) + "; expires="+ a.toGMTString() + "; path=/";
		document.cookie = i + "SeatId=" + encodeURIComponent(seatId) + "; expires="+ a.toGMTString() + "; path=/";
		document.cookie = i + "BirthDate=" + encodeURIComponent(birthDate) + "; expires="+ a.toGMTString() + "; path=/";
	 }
	 return true;
	}

</script>

